.input-search {
  button:focus {
    outline: 0;
  }

  margin-right: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.button-search {
  border-bottom-left-radius: 0px !important ;
  border-top-left-radius: 0px !important;

}

